.pagewide {
  height: 28px;
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  font-size: 16px;
  .pagewide-item {
    color: #000072;
  }
}

.navbar {
  height: auto;
  width: auto;
  background: #000072 !important;
  font-family: "Assistant", sans-serif;
  font-size: 25px;
  text-align: center;
  img {
    height: 55px !important;
  }

  .nav-item {
    padding-left: auto;

    .nav-link {
      color: #ffffff !important;
    }
    .nav-link:hover {
      color: #fe9101 !important;
    }
  }
  .navbar-toggler {
    border-color: #ffffff;
    border-width: 2px;
  }
  .navbar-toggler:hover {
    border-color: #fe9101;
    border-width: 2px;
  }
  .dropdown:hover {
    .dropdown-menu {
      display: block;
      margin-top: 0;
      .dropdown-item {
        font-size: 22px;
        color: #000072;
        font-weight: 450;
        text-align: center;
      }
    }
  }

  .language-switcher {
    font-family: "Assistant", sans-serif;
    font-size: 25px;
    img {
      height: 34px !important;
    }
    .bahasa {
      color: #ffffff !important;
    }
    .bahasa:hover {
      color: #fe9101 !important;
    }
    .english {
      color: #ffffff !important;
    }
    .english:hover {
      color: #fe9101 !important;
    }
  }
}

.border-right {
  height: 65px;
  align-self: center;
  border-width: 2px !important;
}
.border-left {
  height: 30px;
  margin-top: 4px;
  align-self: center;
  border-color: #fe9101 !important;
  border-width: 2px !important;
}

.carousel {
  padding-top: 100px;
  padding-bottom: 100px;
  .carousel-indicators {
    li {
      background-color: #000072;
    }
  }
  .carousel-inner {
    .carousel-item {
      .carousel-text {
        font-family: "Assistant", sans-serif;
        text-align: justify;

        h3 {
          font-size: 20px;
          font-weight: 700;
          color: #000072;
        }
        p {
          font-size: 18px;
          font-weight: 600;
          color: #000072;
        }
      }
      .carousel-image {
        img {
          border-radius: 10px;
        }
      }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    img {
      height: 40px;
      width: auto;
    }
  }
  span.carousel-control-prev-icon,
  span.carousel-control-next-icon {
    background-image: none;
  }
}

.anak-perusahaan {
  padding-top: 58px;
  padding-bottom: 58px;

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: bolder;
    color: #000072;
  }
  img {
    height: auto;
    width: 1100px;
  }
}

footer {
  min-height: 350px;
  padding-top: 28px;
  background-image: url("../images/footer_placeholder@2x.png");
  font-family: "Assistant", sans-serif;

  .top-menu {
    margin-bottom: 65px;
    a {
      font-size: 17px;
      text-align: center;
      font-weight: 500;
      color: #ffffff;
      line-height: 28px;
    }

    a:hover {
      color: #fe9101;
    }
    .border-right {
      height: 28px;
      border-color: #fe9101 !important;
      border-width: 2px !important;
    }
  }

  .main-menu {
    padding-bottom: 50px;
    color: #ffffff;
    h4 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      font-weight: normal;
    }

    .office-section,
    .phone-section,
    .email-section {
      .office-caption,
      .phone-caption,
      .email-caption {
        img {
          padding: 0px 0px;
          height: auto;
          width: 48px;
        }
      }
    }

    .socmed-section {
      .socmed {
        .socmed-icon {
          margin-left: auto;
          img {
            height: 43px;
            width: auto;
          }
          .linkedin-ic:hover {
            content: url(../images/Icon/linkedin_ic_color.png);
          }
          .instagram-ic:hover {
            content: url(../images/Icon/instagram_ic_color.png);
          }
          .facebook-ic:hover {
            content: url(../images/Icon/Facebook_ic_color.png);
          }
          .youtube-ic:hover {
            content: url(../images/Icon/youtube_ic_color.png);
          }
        }
      }
    }
  }

  .copyright-section {
    text-align: center;
    max-height: 43px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff;
    color: #000072;
    font-size: 16px;
  }
}

.section-profile-header {
  min-height: 100px;
  border-bottom: #000072;
  margin-top: 81px;
}

.section-profile-content {
  margin-top: -155px;
  // height: 100vh;
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    padding-left: 300px;
    margin-bottom: 34px;
  }

  @media screen and (max-device-width: 600px) {
    .breadcrumb {
      background-color: transparent;
      padding: 0;
      margin-bottom: 34px;
    }
  }
  .breadcrumb-item {
    font-family: "Assistant", sans-serif;
    color: #000072;
    font-size: 20px;
    font-weight: 300;
    &.active {
      font-weight: 600;
    }
  }
}

.content-title-1 {
  font-family: "Assistant", sans-serif;
  color: #000072;
  padding: 50px 115px 0px 115px;
  h4 {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 29px;
    text-decoration: underline;
  }

  @media screen and (max-device-width: 600px) {
    padding: 0px 10px 0px 10px;
    h4 {
      font-size: 22px;
    }
  }
}

.main-content-1 {
  font-family: "Assistant", sans-serif;
  color: #000072;
  padding: 0px 115px 50px 115px;
  p {
    font-weight: 400;
    font-size: 18px;
  }

  @media screen and (max-device-width: 600px) {
    padding: 0px 10px 0px 10px;
    p {
      font-size: 16px;
    }
  }

  .custom-list {
    li {
      font-size: 22px;
      list-style: none;
      margin-bottom: 8px;
      a {
        color: #000072;
      }
    }

    li.bold-list {
      list-style: circle;
      font-weight: 600;
    }

    li.bold-list:hover {
      list-style: disc;
      color: #fe9101;
    }

    li.light-list {
      list-style: disc;
      font-weight: 300;
    }

    li.light-list:hover {
      color: #fe9101;
    }
  }
}

.content-title-2 {
  font-family: "Assistant", sans-serif;
  color: #000072;
  h4 {
    padding: 35px 0px 45px 15px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
  }
  @media screen and (max-device-width: 600px) {
    h4 {
      justify-content: center;
      padding: 25px 0px 35px 15px;
      font-weight: bold;
      font-size: 22px;
      text-decoration: underline;
    }
  }
}

.company-profile-section {
  .company-profile {
    img {
      width: 476px;
      max-height: 100vh;
      margin-top: -8px;
    }
  }
}

.struktur-organisasi-section {
  .struktur-organisasi-content {
    img {
      padding-bottom: 90px;
    }
    @media screen and (max-device-width: 600px) {
      img {
        height: auto;
        width: 350px;
        padding-bottom: 45px;
      }
    }
  }
}

.gmaps {
  padding-bottom: 45px;
  .mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 1100px;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 1100px;
  }
}

.gmaps-mobile {
  padding-bottom: 45px;
  .mapouter-mobile {
    position: relative;
    text-align: right;
    height: 500px;
    width: 350px;
  }

  .gmap_canvas-mobile {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 350px;
  }
}

.map-details-menu {
  .main-menu {
    padding-bottom: 40px;
    color: #ffffff;
    h4 {
      font-size: 20px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      font-weight: normal;
    }

    .office-section,
    .phone-section,
    .email-section {
      .office-caption,
      .phone-caption,
      .email-caption {
        font-family: "Assistant", sans-serif;
        color: #000072;
        img {
          padding: 0px 0px;
          height: auto;
          width: 48px;
        }
      }
    }
  }
}

.project-list-section {
  .project-list {
    img {
      width: 476px;
      max-height: 100vh;
      margin-top: -8px;
    }
  }
}
