.pagewide {
  height: 28px;
  text-align: center;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.pagewide .pagewide-item {
  color: #000072;
}

.navbar {
  height: auto;
  width: auto;
  background: #000072 !important;
  font-family: "Assistant", sans-serif;
  font-size: 25px;
  text-align: center;
}

.navbar img {
  height: 55px !important;
}

.navbar .nav-item {
  padding-left: auto;
}

.navbar .nav-item .nav-link {
  color: #ffffff !important;
}

.navbar .nav-item .nav-link:hover {
  color: #fe9101 !important;
}

.navbar .navbar-toggler {
  border-color: #ffffff;
  border-width: 2px;
}

.navbar .navbar-toggler:hover {
  border-color: #fe9101;
  border-width: 2px;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.navbar .dropdown:hover .dropdown-menu .dropdown-item {
  font-size: 22px;
  color: #000072;
  font-weight: 450;
  text-align: center;
}

.navbar .language-switcher {
  font-family: "Assistant", sans-serif;
  font-size: 25px;
}

.navbar .language-switcher img {
  height: 34px !important;
}

.navbar .language-switcher .bahasa {
  color: #ffffff !important;
}

.navbar .language-switcher .bahasa:hover {
  color: #fe9101 !important;
}

.navbar .language-switcher .english {
  color: #ffffff !important;
}

.navbar .language-switcher .english:hover {
  color: #fe9101 !important;
}

.border-right {
  height: 65px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-width: 2px !important;
}

.border-left {
  height: 30px;
  margin-top: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-color: #fe9101 !important;
  border-width: 2px !important;
}

.carousel {
  padding-top: 100px;
  padding-bottom: 100px;
}

.carousel .carousel-indicators li {
  background-color: #000072;
}

.carousel .carousel-inner .carousel-item .carousel-text {
  font-family: "Assistant", sans-serif;
  text-align: justify;
}

.carousel .carousel-inner .carousel-item .carousel-text h3 {
  font-size: 20px;
  font-weight: 700;
  color: #000072;
}

.carousel .carousel-inner .carousel-item .carousel-text p {
  font-size: 18px;
  font-weight: 600;
  color: #000072;
}

.carousel .carousel-inner .carousel-item .carousel-image img {
  border-radius: 10px;
}

.carousel .carousel-control-prev img,
.carousel .carousel-control-next img {
  height: 40px;
  width: auto;
}

.anak-perusahaan {
  padding-top: 58px;
  padding-bottom: 58px;
}

.anak-perusahaan h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: bolder;
  color: #000072;
}

.anak-perusahaan img {
  height: auto;
  width: 1100px;
}

footer {
  min-height: 350px;
  padding-top: 28px;
  background-image: url("../images/footer_placeholder@2x.png");
  font-family: "Assistant", sans-serif;
}

footer .top-menu {
  margin-bottom: 65px;
}

footer .top-menu a {
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  line-height: 28px;
}

footer .top-menu a:hover {
  color: #fe9101;
}

footer .top-menu .border-right {
  height: 28px;
  border-color: #fe9101 !important;
  border-width: 2px !important;
}

footer .main-menu {
  padding-bottom: 50px;
  color: #ffffff;
}

footer .main-menu h4 {
  font-size: 20px;
  font-weight: bold;
}

footer .main-menu p {
  font-size: 18px;
  font-weight: normal;
}

footer .main-menu .office-section .office-caption img,
footer .main-menu .office-section .phone-caption img,
footer .main-menu .office-section .email-caption img,
footer .main-menu .phone-section .office-caption img,
footer .main-menu .phone-section .phone-caption img,
footer .main-menu .phone-section .email-caption img,
footer .main-menu .email-section .office-caption img,
footer .main-menu .email-section .phone-caption img,
footer .main-menu .email-section .email-caption img {
  padding: 0px 0px;
  height: auto;
  width: 48px;
}

footer .main-menu .socmed-section .socmed .socmed-icon {
  margin-left: auto;
}

footer .main-menu .socmed-section .socmed .socmed-icon img {
  height: 43px;
  width: auto;
}

footer .main-menu .socmed-section .socmed .socmed-icon .linkedin-ic:hover {
  content: url(../images/Icon/linkedin_ic_color.png);
}

footer .main-menu .socmed-section .socmed .socmed-icon .instagram-ic:hover {
  content: url(../images/Icon/instagram_ic_color.png);
}

footer .main-menu .socmed-section .socmed .socmed-icon .facebook-ic:hover {
  content: url(../images/Icon/Facebook_ic_color.png);
}

footer .main-menu .socmed-section .socmed .socmed-icon .youtube-ic:hover {
  content: url(../images/Icon/youtube_ic_color.png);
}

footer .copyright-section {
  text-align: center;
  max-height: 43px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  color: #000072;
  font-size: 16px;
}

.section-profile-header {
  min-height: 100px;
  border-bottom: #000072;
  margin-top: 81px;
}

.section-profile-content {
  margin-top: -155px;
}

.section-profile-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  padding-left: 300px;
  margin-bottom: 34px;
}

@media screen and (max-device-width: 600px) {
  .section-profile-content .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 34px;
  }
}

.section-profile-content .breadcrumb-item {
  font-family: "Assistant", sans-serif;
  color: #000072;
  font-size: 20px;
  font-weight: 300;
}

.section-profile-content .breadcrumb-item.active {
  font-weight: 600;
}

.company-profile-section .company-profile img {
  width: 475px;
  height: 900px;
  margin-top: -8px;
}

.company-profile-section .company-profile .company-profile-content {
  font-family: "Assistant", sans-serif;
  color: #000072;
  padding: 50px 115px 50px 115px;
}

.company-profile-section .company-profile .company-profile-content h4 {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 29px;
  text-decoration: underline;
}

.company-profile-section .company-profile .company-profile-content p {
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-device-width: 600px) {
  .company-profile-section .company-profile .company-profile-content {
    padding: 0px 10px 0px 10px;
  }
}

.struktur-organisasi-section {
  font-family: "Assistant", sans-serif;
  color: #000072;
}

.struktur-organisasi-section .struktur-organisasi-title h4 {
  padding: 35px 0px 45px 15px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}

@media screen and (max-device-width: 600px) {
  .struktur-organisasi-section .struktur-organisasi-title h4 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px 0px 35px 15px;
    font-weight: bold;
    font-size: 22px;
    text-decoration: underline;
  }
}

.struktur-organisasi-section .struktur-organisasi-content img {
  padding-bottom: 90px;
}

@media screen and (max-device-width: 600px) {
  .struktur-organisasi-section .struktur-organisasi-content img {
    height: auto;
    width: 350px;
    padding-bottom: 45px;
  }
}

.head-office-section {
  font-family: "Assistant", sans-serif;
  color: #000072;
}

.head-office-section .head-office-title h4 {
  padding: 35px 0px 45px 15px;
  font-weight: bold;
  font-size: 25px;
  text-decoration: underline;
}

.gmaps {
  padding-bottom: 45px;
}

.gmaps .mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 1100px;
}

.gmaps .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 1100px;
}

.gmaps-mobile {
  padding-bottom: 45px;
}

.gmaps-mobile .mapouter-mobile {
  position: relative;
  text-align: right;
  height: 500px;
  width: 350px;
}

.gmaps-mobile .gmap_canvas-mobile {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 350px;
}

.map-details-menu .main-menu {
  padding-bottom: 40px;
  color: #ffffff;
}

.map-details-menu .main-menu h4 {
  font-size: 20px;
  font-weight: bold;
}

.map-details-menu .main-menu p {
  font-size: 18px;
  font-weight: normal;
}

.map-details-menu .main-menu .office-section .office-caption,
.map-details-menu .main-menu .office-section .phone-caption,
.map-details-menu .main-menu .office-section .email-caption,
.map-details-menu .main-menu .phone-section .office-caption,
.map-details-menu .main-menu .phone-section .phone-caption,
.map-details-menu .main-menu .phone-section .email-caption,
.map-details-menu .main-menu .email-section .office-caption,
.map-details-menu .main-menu .email-section .phone-caption,
.map-details-menu .main-menu .email-section .email-caption {
  color: #000072;
}

.map-details-menu .main-menu .office-section .office-caption img,
.map-details-menu .main-menu .office-section .phone-caption img,
.map-details-menu .main-menu .office-section .email-caption img,
.map-details-menu .main-menu .phone-section .office-caption img,
.map-details-menu .main-menu .phone-section .phone-caption img,
.map-details-menu .main-menu .phone-section .email-caption img,
.map-details-menu .main-menu .email-section .office-caption img,
.map-details-menu .main-menu .email-section .phone-caption img,
.map-details-menu .main-menu .email-section .email-caption img {
  padding: 0px 0px;
  height: auto;
  width: 48px;
}
/*# sourceMappingURL=main.css.map */